.image-inline img {
    aspect-ratio: auto !important;
    max-width: 30vw !important;
    max-height: 15vh !important;
    width: auto !important;
    object-fit: contain;
    cursor: pointer;
}

.ck-content {
    border: none !important;
}

.ck.ck-toolbar {
    border: none !important;
}

.ck-editor__editable {
    outline: none !important;
}

.ck.ck-editor__editable[role="textbox"]:focus {
    border: none;
    box-shadow: none !important;
}

.ck-powered-by {
    display: none !important;
}